#counter-app {
  margin: 20px auto;
  border: .5px solid #2c2c2c;
  box-shadow: 2px 4px 5px #6f6f6f;
  padding: 10px 0;
}

.title {
  font-size: 55px;
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic ProN", sans-serif;
}