.counter-input-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.counter-input {
  padding: 10px;
  font-size: 1em;
  margin-right: 10px;
}

.counter-input-button {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1em;
}